PrototypeOne/FormatSchema.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="ArrayOfCatagory">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Catagory">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="TextColor" type="Color" minOccurs="0"/>
              <xsd:element name="BackGroundColor" type="Color" />
              <xsd:element name="Ratio"  type="smallFraction" />
              <xsd:element name="Title" type="xsd:string" />
              <xsd:element minOccurs="0" name="Explanation" type="xsd:string" />
              <xsd:element minOccurs="0" name="SubCatagoryFile" type="xsd:string" />
              <xsd:element minOccurs="0" name="Image" type="xsd:string" />
              <xsd:element minOccurs="0" name="Video" type="xsd:string" />
              <xsd:element minOccurs="0" name="BackGroundImage" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ImageSetup" type="ImageSetup"/>
              <xsd:element minOccurs="0" name="Slides" type="SlideShow"/>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Color">
    <xsd:choice>
      <xsd:group ref="byteColor" minOccurs="0"/>
      <xsd:group ref="fractionColor" minOccurs="0"/>
    </xsd:choice>
  </xsd:complexType>
  
  
  <xsd:complexType name ="SlideShow">
    <xsd:choice maxOccurs="unbounded">
      
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="VideoFile" >
        <xsd:complexType>
          <xsd:attribute name="Path" type="xs:string"/>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImageFile" >
        <xsd:complexType>
          <xsd:attribute name="Path" type="xs:string"/>
        </xsd:complexType>
      </xsd:element>
    
    </xsd:choice>
  </xsd:complexType>
    

  <xsd:group name="byteColor">
    <xsd:sequence>
      <xsd:element name="A" type="byte"  />
      <xsd:element name="R" type="byte" />
      <xsd:element name="G" type="byte" />
      <xsd:element name="B" type="byte" />
    </xsd:sequence>
  </xsd:group>

  <xsd:group name="fractionColor">
    <xsd:sequence>
      <xsd:element name="ScA" type="smallFraction" />
      <xsd:element name="ScR" type="smallFraction" />
      <xsd:element name="ScG" type="smallFraction" />
      <xsd:element name="ScB" type="smallFraction" />
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="ImageSetup">
    <xsd:attribute name="Placement" type="PlacementType"/>
    <xsd:attribute name="Path" type="xsd:string"/>
    <xsd:attribute name="Width" type="xsd:double"/>
    <xsd:attribute name="Height" type="xsd:double"/>
  </xsd:complexType>

  

  <xs:simpleType name="PlacementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inline"/>
      <xs:enumeration value="Top"/>
      <xs:enumeration value="Bottom"/>
    </xs:restriction>
  </xs:simpleType>
  
  
  <xsd:complexType name="Size">
    <xsd:sequence>
      <xsd:element name="Width" type="xsd:decimal"/>
      <xsd:element name="Height" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:simpleType name="smallFraction">
      <xsd:restriction base="xs:decimal">
        <xsd:maxInclusive value="1"/>
        <xsd:minInclusive value="0"/>
      </xsd:restriction>
    </xsd:simpleType>

  <xsd:simpleType name="byte">
    <xsd:restriction base="xs:decimal">
      <xsd:maxInclusive value="255"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xs:schema>